body {
    text-align: center;
}

.sec-choose-char {
    position: fixed;
    width: 100%;
    top: 0;
}

/* .sec-choose-char img:hover{
    border: 1px solid goldenrod;
} */

.choose {
    border: 1px solid goldenrod;
}